<a href="https://colab.research.google.com/github/segam77/sgmautomatizacion/blob/main/Ejemplo_actividad_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üèãÔ∏è‚Äç‚ôÄÔ∏è An√°lisis de Datos de Clases en un Gimnasio

**Contexto**
Un gimnasio con varias sucursales ha compartido tres bases de datos:  
- asistencias.csv: incluye los asistentes registrados a distintas clases (yoga, spinning, HIIT, etc.) por sucursal, el precio por clase y el total de asistentes.  
- capacidad.csv: indica la capacidad m√°xima de cada clase en cada sucursal.  
- satisfaccion.csv: muestra la puntuaci√≥n promedio de satisfacci√≥n de los usuarios en cada sucursal.
-
La empresa quiere evaluar el rendimiento econ√≥mico, la ocupaci√≥n de las clases y la percepci√≥n del servicio.

## üß† Tareas a realizar

1. Carga los tres archivos en tu entorno de trabajo (asistencias.csv, capacidad.csv y satisfaccion.csv).
2. Procesamiento de datos:
- Realiza una inspecci√≥n inicial de los datos con print()
- Verifica que no haya valores nulos con isnull().sum())
- Limpiar los datos eliminando filas con valores nulos con .dropna(inplace=True)
- Aseg√∫rate que los DataFrames tengan la estructura correcta y est√©n listos para su an√°lisis, utilizando .info()
3.  An√°lisis exploratorio de datos:
- En asistencias.csv, crea una nueva columna llamada Ingreso que se obtenga multiplicando los asistentes por el precio por clase (Ingreso = Asistentes * Precio_Clase).
- Calcula el ingreso total por sucursal.
- Calcula el n√∫mero total de asistentes por sucursal.
- Une asistencias.csv con capacidad.csv para poder calcular la rotaci√≥n de cada clase: Rotacion = Asistentes / Capacidad_Maxima
- Identifica las clases con rotaci√≥n baja (por ejemplo, inferior al 10%) y analiza si se repiten en ciertas sucursales o tipos de clase.
- A partir del archivo satisfaccion.csv, identifica las sucursales con puntuaciones de satisfacci√≥n inferiores a 60 puntos.
- Calcula la mediana y la desviaci√≥n est√°ndar del n√∫mero total de asistentes por sucursal.
- Aplica el m√©todo .describe() para describir la variable original de "Asistentes".

**üí¨ Preguntas para el an√°lisis**  
- ¬øQu√© clases o sucursales generan mayores ingresos?  
- ¬øExisten clases que sistem√°ticamente tienen baja rotaci√≥n?  
- ¬øLas sucursales con menor satisfacci√≥n coinciden con las de menor ocupaci√≥n o menor ingreso?  
- ¬øQu√© sugerencias podr√≠as dar al equipo de operaciones del gimnasio?

**Entrega**  
- Aseg√∫rate de que el c√≥digo est√© bien comentado y cada secci√≥n claramente delimitada.  
- El archivo entregable debe ser un Jupyter Notebook con extensi√≥n .ipynb.
- Si usas Visual Studio Code en la actividad, las rutas de los archivos deben ser absolutas, como se muestra a continuaci√≥n:
/workspace/ventas.csv
/workspace/inventarios.csv
/workspace/satisfaccion.csv

## Importaci√≥n y preparaci√≥n

In [ ]:
# 1. Importar los datos y las librer√≠as que vamos a utilizar
import pandas as pd
import numpy as np

# Cargar datos desde CSV
asistencias = pd.read_csv("workspace/asistencias.csv")
capacidad = pd.read_csv("workspace/capacidad.csv")
satisfaccion = pd.read_csv("workspace/satisfaccion.csv")

In [ ]:
# 2. Preparaci√≥n e inspecci√≥n inicial

# Visualizar los DataFrames para asegurar que se cargaron correctamente
print('Asistencia \n', asistencias)

print('Capacidad \n', capacidad)

print('Satisfacci√≥n \n', satisfaccion)

Asistencia
    ID_Sucursal     Clase  Asistentes  Precio_Clase Fecha_Clase
0            1      Yoga          20            15  2023-01-05
1            1  Spinning          18            18  2023-01-06
2            2      Yoga          22            15  2023-01-07
3            2     Zumba          30            12  2023-01-08
4            3      Yoga          15            15  2023-01-09
5            3  Spinning          28            18  2023-01-10
6            4     Zumba          35            12  2023-01-11
7            4      Yoga          20            15  2023-01-12
8            5  Spinning          25            18  2023-01-13
9            5     Zumba          27            12  2023-01-14
Capacidad
    ID_Sucursal     Clase  Capacidad_Maxima Fecha_Actualizaci√≥n
0            1      Yoga                40          2023-01-05
1            1  Spinning                30          2023-01-06
2            2      Yoga                35          2023-01-07
3            2     Zumba                50          2023-01-08
4            3      Yoga                25          2023-01-09
5            3  Spinning                40          2023-01-10
6            4     Zumba                60          2023-01-11
7            4      Yoga                30          2023-01-12
8            5  Spinning                35          2023-01-13
9            5     Zumba                55          2023-01-14
Satisfacci√≥n
    ID_Sucursal  Satisfacci√≥n_Promedio Fecha_Evaluaci√≥n
0            1                     82       2023-01-15
1            2                     88       2023-01-15
2            3                     75       2023-01-15
3            4                     60       2023-01-15
4            5                     52       2023-01-15

In [ ]:

# Verificar que no haya valores nulos
print(asistencias.isnull().sum())
print(capacidad.isnull().sum())
print(satisfaccion.isnull().sum())

ID_Sucursal     0
Clase           0
Asistentes      0
Precio_Clase    0
Fecha_Clase     0
dtype: int64
ID_Sucursal            0
Clase                  0
Capacidad_Maxima       0
Fecha_Actualizaci√≥n    0
dtype: int64
ID_Sucursal              0
Satisfacci√≥n_Promedio    0
Fecha_Evaluaci√≥n         0
dtype: int64

In [ ]:
# Limpieza de datos

asistencias.dropna(inplace=True)
capacidad.dropna(inplace=True)
satisfaccion.dropna(inplace=True)

In [ ]:

# Asegurarse de que los DataFrames tengan la estructura correcta:

# Verificar las estructuras
print('Asistencias \n', asistencias.info())
print('Capacidad \n', capacidad.info())
print('Satisfacci√≥n \n', satisfaccion.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_Sucursal   10 non-null     int64
 1   Clase         10 non-null     object
 2   Asistentes    10 non-null     int64
 3   Precio_Clase  10 non-null     int64
 4   Fecha_Clase   10 non-null     object
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
Asistencias
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_Sucursal          10 non-null     int64
 1   Clase                10 non-null     object
 2   Capacidad_Maxima     10 non-null     int64
 3   Fecha_Actualizaci√≥n  10 non-null     object
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
Capacidad
 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID_Sucursal            5 non-null      int64
 1   Satisfacci√≥n_Promedio  5 non-null      int64
 2   Fecha_Evaluaci√≥n       5 non-null      object
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes
Satisfacci√≥n
 None

# An√°lisis exploratorio

Calcula:

- 1. Ingresos por clase: Asistentes * Precio_Clase

- 2. Ingresos totales por sucursal: Agrupar los Ingresos por Sucursal (df.group.by), y sumar (['Ingreso'].sum()).

NOTA: al final incluir .reset_index()

- 3. Asistencias totales por sucursal: √≠dem anterior.

- 4. Rotaci√≥n de clase: Asistentes / Capacidad_Maxima

NOTA: Primero debemos unir las bases de datos de asistencias y capacidad.
Asistentes es una informaci√≥n de la base de datos de asistencias, y Capacidad_M√°xima se encuentra en la de capacidad.
rotacion = asistencias.merge(capacidad, on=["ID_Sucursal", "Clase"])

Luego, calculamos Asistentes / Capacidad_Maxima

- 5. Sucursales con rotaci√≥n baja (<10%)

- 6. Satisfacci√≥n baja (<60%)

- 7. Mediana y desviaci√≥n est√°ndar de asistentes totales (el sumado por sucursual)

- 8. Describir la variable original de asistentes.

In [ ]:
#¬†üí∞1: Calcular ingresos por clase (Asistentes * Precio_Clase)

asistencias["Ingreso"] = asistencias["Asistentes"] * asistencias["Precio_Clase"]

asistencias.head()

   ID_Sucursal     Clase  Asistentes  Precio_Clase Fecha_Clase  Ingreso
0            1      Yoga          20            15  2023-01-05      300
1            1  Spinning          18            18  2023-01-06      324
2            2      Yoga          22            15  2023-01-07      330
3            2     Zumba          30            12  2023-01-08      360
4            3      Yoga          15            15  2023-01-09      225

In [ ]:
# üßæ 2: Ingresos totales por sucursal

ingresos_totales = asistencias.groupby("ID_Sucursal")["Ingreso"].sum().reset_index()


ingresos_totales

   ID_Sucursal  Ingreso
0            1      624
1            2      690
2            3      729
3            4      720
4            5      774

In [ ]:
# üë• 3: Asistencias totales por sucursal

asistencias_totales = asistencias.groupby("ID_Sucursal")["Asistentes"].sum().reset_index()

asistencias_totales

   ID_Sucursal  Asistentes
0            1          38
1            2          52
2            3          43
3            4          55
4            5          52

In [ ]:
# üîó 4: Combinar con capacidad y calcular rotaci√≥n (Asistentes / Capacidad)
# Primero unimos por ID_Sucursal y Clase:

asistencia_capacidad = asistencias.merge(capacidad, on=["ID_Sucursal", "Clase"])

asistencia_capacidad["Rotacion"] = asistencia_capacidad["Asistentes"] / asistencia_capacidad["Capacidad_Maxima"]

asistencia_capacidad

,ID_Sucursal,Clase,Asistentes,Precio_Clase,Fecha_Clase,Ingreso,Capacidad_Maxima,Fecha_Actualizaci√≥n,Rotacion
0,1,Yoga,20,15,2023-01-05,300,40,2023-01-05,0.500000
1,1,Spinning,18,18,2023-01-06,324,30,2023-01-06,0.600000
2,2,Yoga,22,15,2023-01-07,330,35,2023-01-07,0.628571
3,2,Zumba,30,12,2023-01-08,360,50,2023-01-08,0.600000
4,3,Yoga,15,15,2023-01-09,225,25,2023-01-09,0.600000
5,3,Spinning,28,18,2023-01-10,504,40,2023-01-10,0.700000
6,4,Zumba,35,12,2023-01-11,420,60,2023-01-11,0.583333
7,4,Yoga,20,15,2023-01-12,300,30,2023-01-12,0.666667
8,5,Spinning,25,18,2023-01-13,450,35,2023-01-13,0.714286
9,5,Zumba,27,12,2023-01-14,324,55,2023-01-14,0.490909

In [ ]:
# ‚ö†Ô∏è 5: Sucursales con rotaci√≥n baja (por ejemplo, < 0.10)

baja_rotacion = asistencia_capacidad[asistencia_capacidad["Rotacion"] < 0.10]

baja_rotacion

#üí° En estos casos, la clase podr√≠a estar infrautilizada.

Empty DataFrame
Columns: [ID_Sucursal, Clase, Asistentes, Precio_Clase, Fecha_Clase, Ingreso, Capacidad_Maxima, Fecha_Actualizaci√≥n, Rotacion]
Index: []

In [ ]:
# üòê 6: Sucursales con satisfacci√≥n promedio baja (por ejemplo, < 60)

satisfaccion_baja = satisfaccion[satisfaccion["Satisfacci√≥n_Promedio"] < 60]

satisfaccion_baja

   ID_Sucursal  Satisfacci√≥n_Promedio Fecha_Evaluaci√≥n
4            5                     52       2023-01-15

In [ ]:
# üìä 7: Mediana y desviaci√≥n est√°ndar de asistentes totales
mediana_asist = asistencias_totales["Asistentes"].median()
desv_asist = asistencias_totales["Asistentes"].std()

print(f"Mediana de asistentes totales: {mediana_asist}")
print(f"Desviaci√≥n est√°ndar: {desv_asist}")

Mediana de asistentes totales: 52.0
Desviaci√≥n est√°ndar: 7.176350047203662

In [ ]:

# 8. Describir la variable original de asistentes

resumen_asistencias = asistencias['Asistentes'].describe()

print(resumen_asistencias)

count    10.000000
mean     24.000000
std       6.110101
min      15.000000
25%      20.000000
50%      23.500000
75%      27.750000
max      35.000000
Name: Asistentes, dtype: float64